body {
  margin: 0 auto;
  padding: 0;
}

body > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
}
body > div > div {
  font-family: 'Noto Sans KR';
  display: flex;
  padding: 12px;
}
body > div > nav {
  list-style: none;
}
body > div > nav > ul > li {
  padding: 0;
}
body > div > div > nav > ul > li > a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
a {
  margin-right: 30px;
}
.center {
  align-self: center;
}

.teduri {
  border: 1px solid black;
}
form {
  position: absolute;
  top: 0px;
}
form > span {
  display: inline-block;
}
input {
  background-color: rgba(220, 220, 220, 0.504);
  padding: 0.9rem 1.2rem;
  margin-top: 1.6em;
  margin-bottom: 1.6rem;
  border: 0;
  border-radius: 0.4rem;
}

button {
  font-family: 'Noto Sans KR';
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.283);
  border-radius: 0.4rem;
  padding: 0.8rem 1.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 18px;
}
