* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  font-family: '돋움', Dotum, Helvetica, AppleGothic, sans-serif;
}

div {
  box-sizing: border-box;
}

#header,
#container,
#quick,
#footer {
  border: 3px solid gray;
}
/* 
#footer {
  border-top: 1px solid #ddd;
} */

#header {
  width: 980px;
  min-height: 110px;
}

#container {
  width: 100%;
}
.logo {
  background-color: lightgray;
}

#header_login {
  background-color: rgb(194, 194, 194);
}

h1,
h2,
h3,
h4 {
  background-color: lightcyan;
}

#utilmenu .lang ul li.country_01 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_usa.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_02 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_japan.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_03 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_china.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_04 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_vietnam.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_05 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_th.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_06 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_indonesia.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_07 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_poccnr.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_08 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_mohron.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_09 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_cambodia.png')
    no-repeat 0 50%;
}
#utilmenu .lang ul li.country_10 a {
  background: none;
}
#utilmenu .lang ul li.country_11 a {
  background: url('https://banking.nonghyup.com/images/CN/main_e_new/icon_hanoi.png')
    no-repeat 0 50%;
}

.sec_1 {
  background-color: rgba(173, 209, 250, 0.571);
}

.sec_2 {
  background-color: #ddd;
}

.sec_3 {
  background-color: whitesmoke;
}
